Source: stacer
Section: utils
Priority: optional
Maintainer: Quentin Lienhardt <pro@quentium.fr>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.6.2
Homepage: https://github.com/QuentiumYT/Stacer
Vcs-Browser: https://github.com/QuentiumYT/Stacer
Vcs-Git: https://github.com/QuentiumYT/Stacer.git

Package: stacer
Architecture: all
Depends: ${misc:Depends}
Recommends: systemd, curl
Description: Linux System Optimizer and Monitoring
